<h1 style="text-align:center;">Pick a Project</h1>

<br>
<br>


  <% @projects.each do |project| %>
    <h2><%= project.title %></h2>
      <%= project.description %><br><br>
      <%= link_to "View this Project", project_path(project) %>
    <br>
    <br>
  <% end %>
