<h1 style="text-align:center;">Pick a Project</h1>

<br>
<br>

<ul>
  <% @projects.each do |project| %>
    <li><h2><%= project.title %></h2>
      <%= project.description %><br><br>
      <%= link_to "View this Project", project_path(project) %></li>
    <br>
    <br>
  <% end %>
</ul>
