/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "semantic-ui";
/***************** NAV **************/
 .topnav {
   background-color: #2ccbbb;
   padding: 14px 16px;
   overflow: hidden;
 }

 .background {
   background-color: #eafaf9;
 }
 /* Style the links inside the navigation bar */
 .topnav a {
   float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
 }

 /* Change the color of links on hover */
 .topnav a:hover {
   background-color: #eafaf9;
   opacity: 0.1;
   filter: alpha(opacity=30);
 }


 /* Add a color to the active/current link */
 .topnav a.active :hover {
   background-color: #2ccbbb;
   color: white;
 }

 /***************** Project Show **************/
 .butt {
     background:none!important;
      border:none;
      padding:0!important;

     /*optional*/
     font-family:arial,sans-serif; /*input has OS specific font-family*/
      color:rgba(0,0,0,.6);
      cursor:pointer;
 }


/* svg {
    animation: slideInFromRight 3s forwards;
     animation-name: slideInFromRight;
     animation-duration: 3s;
     animation-timing-function: ease;
     animation-delay: 0s;
     animation-iteration-count: 1;
     animation-direction: normal;
     animation-fill-mode: forwards;
     animation-play-state: running;
 } */
 /***************** HOME **************/



 svg {
   width: 100px;
   height: 100px;
   position: relative;
   animation-name: example;
   animation-duration: 5s;
   animation-iteration-count: infinite;
   animation-fill-mode: forwards;
   animation-direction: alternate;
   animation-timing-function: ease-in-out;

   animation-play-state: running;
 }

 @keyframes example {
  0%   {left:0px; top:0px;}
  25%  {left:8px; top:8px;}
  50%  {left:10px; top:2px;}
  75%  {right:10px; top:10px;}

  100% {left:0px; top:0px;}
}

 /* g {

 } */

 /* @keyframes g {
  0%   {left:0px; top:0px;}

  50%  {left:20px; top:20px;}

  100% {left:0px; top:0px;}
} */
 /***************** Open Project Index **************/
.project-index-container {
  background-color: #E6F9F7;
  width: 70%;
  margin: auto;
  margin-bottom: 4%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 4%;
  box-shadow: 12px 0 200px -40px #73AB84, -12px 0 200px -40px #73AB84;
}

 /***************** Completed Project Index **************/

 .showcase-container {
   background-color: #E6F9F7;
   width: 70%;
   margin: auto;
   margin-bottom: 4%;
   display: flex;
   align-items: center;
   flex-direction: column;
   padding-top: 4%;
   box-shadow: 12px 0 200px -40px #73AB84, -12px 0 200px -40px #73AB84;

 }

 /***************** signup **************/
